# Directories
.*/
**/bin/
**/bin-int/

# Files
.nvimrc
compile_commands.json
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**/Makefile
**/imgui.ini
**.log
/OpenBit/vendor/**
!OpenBit/vendor/premake5.lua
